/* NotificationComponent.css */

.notification-component {
  position: relative;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  margin-bottom: 10px; 
}


.notification-component.hidden {
  opacity: 0;
  visibility: hidden;
}

.notification-component.visible {
  opacity: 1;
  visibility: visible;
}

.notification-component h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.notification-component p {
  margin-top: 0;
  margin-bottom: 5px;
}

.notification-component .analysis {
  font-style: italic;
}
